@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins|Source+Sans+Pro|Montserrat:400,900&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
}

.menucard {
  background-image: url("images/Lunch-Menu-Card.png");
  height: 2000px;
  background-size: cover;
  margin: 50px 50px 10px 70px;
}

.menu-item-image {
  border-radius: 16px;
  height: 200px;
  width: 190px;
}
.menu-card-title {
  color: white;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.btn {
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 100px;
  height: 30px;
  padding-bottom: 5px;

  border-radius: 8px;
}

.counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}
.counter input {
  width: 30px;
  border: 0;
  line-height: 15px;
  font-size: 20px;
  text-align: center;
  background: #0052cc;
  color: #fff;
  appearance: none;
  outline: 0;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #0052cc;
  user-select: none;
}

.custom-button {
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 130px;
  height: 55px;
  border-width: 2;
  border-radius: 8px;
  margin-left: 650px;
}
